<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
    <link href="./styles/main.css" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="nav-view">
            <h2>Book Notes</h2>
                <form id="searchForm" method ="POST" action="/search">
                    <input id="inputField"  type="text"  autocomplete="off" autofocus="true"  />
                    <button class="search"">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="40" height="40" viewBox="0 0 50 50">
                            <path d="M 21 3 C 11.621094 3 4 10.621094 4 20 C 4 29.378906 11.621094 37 21 37 C 24.710938 37 28.140625 35.804688 30.9375 33.78125 L 44.09375 46.90625 L 46.90625 44.09375 L 33.90625 31.0625 C 36.460938 28.085938 38 24.222656 38 20 C 38 10.621094 30.378906 3 21 3 Z M 21 5 C 29.296875 5 36 11.703125 36 20 C 36 28.296875 29.296875 35 21 35 C 12.703125 35 6 28.296875 6 20 C 6 11.703125 12.703125 5 21 5 Z"></path>
                        </svg>
                    </button>
                </form>
        <form method="GET" action="/add">
            <button class="create"> <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="40" height="40" viewBox="0 0 50 50">
                <path d="M25,2C12.317,2,2,12.317,2,25s10.317,23,23,23s23-10.317,23-23S37.683,2,25,2z M37,26H26v11h-2V26H13v-2h11V13h2v11h11V26z"></path>
            </svg>
        </button>
        </form>
        </div> 
    </nav>
    <div class="listPane">
        <% bookList.forEach(book => { %>
            <div class="container">
                <div class="cover">
                    <% if(book.isbn){ %>
                        <img src= "https://covers.openlibrary.org/b/isbn/<%= book.isbn %>-M.jpg" />
                    <% }else{ %>
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 24 24">
                        <path fill-rule="evenodd" d="M 11 2 L 11 11 L 2 11 L 2 13 L 11 13 L 11 22 L 13 22 L 13 13 L 22 13 L 22 11 L 13 11 L 13 2 Z"></path>
                    </svg>
                    <% } %>
                </div>
                <div class="note">
                    <h2 class="title" style="color: orangered;"> <%= book.title %></h2>
                    <h3 class="author" style="font-style: italic;"> <%= book.author %></h3>
                    <h4 class="isbn" ><span style="font-weight: lighter;">ISBN:</span> <%= book.isbn %></h4>
                    <div class="content">
                        <%= book.content %>
                    </div>
                </div>
                <div class="options">
                    <form method="post" action="/del">
                        <button class="delete" name="delBookName" value="<%= book.title %>">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="35" viewBox="0,0,300,150">
                                <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(10.66667,10.66667)"><path d="M10,2l-1,1h-6v2h18v-2h-6l-1,-1zM4.36523,7l1.70313,15h11.86328l1.70313,-15z"></path></g></g>
                            </svg>
                        </button>
                    </form>
                </div>
            </div>
            
        <% }); %>
    </div>
    <script>
        function handler(){
           var search =  document.getElementById("inputField");
           search.toggleAttribute("hidden");
        }
    </script>
</body>
</html>